<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="path/to/your/styles.css">
</head>
<body>
    <div class="nagoyameshi-wrapper">
        <!-- ヘッダー -->
        <div th:replace="~{fragment :: header}"></div>

        <main>
		 <div class="container py-4 nagoyameshi-container">
        <div class="row justify-content-center">        
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">                            
                <h1 class="mb-4 text-center">ログイン</h1>

                <div class="row mb-1">
                    <p class="text-danger">
                        動作確認用アカウント<br>
                        メールアドレス：user@example.com<br>
                        パスワード：nagoyameshi<br>
                        テストカード：56565656<br>
                        
                    </p>
                </div>

                <hr class="mb-4">

                            
                    
                <form method="POST" action="https://nagoyameshi-pattern-1.herokuapp.com/login">
                    <input type="hidden" name="_token" value="CqWbzXui3JhpwHTscMQDOQInpgLwbHYBSwTrUNSV">                   
                     <div class="form-group mb-3">                                        
                            <input type="email" class="form-control" id="email" name="email" value="" required="" autocomplete="email" placeholder="メールアドレス" autofocus="">                    
                    </div>    
                                
                    <div class="form-group mb-3">                    
                        <input id="password" type="password" class="form-control" name="password" required="" autocomplete="new-password" placeholder="パスワード">                    
                    </div>

                    <div class="form-group mb-3">                    
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="remember" id="remember">

                                <label class="form-check-label" for="remember">
                                    次回から自動的にログインする
                                </label>
                            </div>                    
                    </div>                    
                    
                    <div class="form-group d-flex justify-content-center mb-4">
                        <button type="submit" class="btn btn-primary text-white shadow-sm w-100">ログイン</button>
                    </div>                                              
                </form>       

                <hr class="my-4">                
                            
                <div class="text-center mb-3">
                    <a>
                        パスワードをお忘れの方はこちら
                    </a>
                </div>                                
                
                <div class="text-center">
                    <a>
                        新規会員登録はこちら
                    </a>
                </div>              
            </div>
        </div>
    </div>   
        </main>

        <!-- フッター -->
        <div th:replace="~{fragment :: footer}"></div>
    </div>    

    <script src="path/to/your/scripts.js"></script>
  </body>
    
</html>
