<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org">
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">	
         <title>NAGOYAMESHI</title>	
     </head>
     <body>
         <li class="nav-item">
           <a class="nav-link" th:href="@{/auth/login}">ログイン</a>
         </li>
         
     </body>
     
     <footer class="bg-light">
    
   
    <p class="text-center text-muted small mb-0">© NAGOYAMESHI All rights reserved.</p>    
</footer>
 </html>